/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body, html {
  line-height: 1;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(22,22,22,0.85);
  text-shadow: 1px 1px rgba(22,22,22,0.15);
}
ol, ul {
  list-style-type: dash;
  padding-left: 0.2vw;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.image-left, .content{
  width: 50%;
  height: 100%;
  float: left;
}
.image-left {
  background-image: url("https://enfop.github.io/betonpage/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 45%;

}
.content {
  margin: 0 auto;
  padding-top: calc(50vh - 90px);
  padding-left: calc(25vw - 150px);
  box-sizing: border-box;
}
li {
  margin-top: 0.8vh;
  font-size: 20px;
  list-style-type: none;
  color: rgba(22,22,22,0.65);
}
li:before{
  content: "-";
  padding-right: 0.5vw;
}
a {
  color: rgba(22,22,22,0.7);
  text-decoration: none; /* no underline */

  &:hover {
  }
}
h2 {
  font-size: 32px;
  margin-bottom: 1.4vh;
}
