/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body, html {
  line-height: 1;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(22,22,22,0.85);
  text-shadow: 1px 1px rgba(22,22,22,0.15);
}
ol, ul {
  list-style-type: dash;
  padding-left: 0.2vw;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.image-left, .index, .content{
  width: 50%;
  height: 100%;
  float: left;
}
.image-left {
  background-image: url("https://enfop.github.io/betonpage/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 45%;

}
.index {
  margin: 0 auto;
  padding-top: 36vh;
  padding-left: calc(15vw - 50px);
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  padding-top: 10vh;
  padding-left: 6vw;
  padding-right: 6vw;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
}
li {
  margin-top: 0.8vh;
  font-size: 4vh;
  list-style-type: none;
  color: rgba(22,22,22,0.65);
}
.content li {
  font-size: 16px;
  padding-left: 12px;
  position: relative;
}
.content li:last-child {
  margin-bottom: 0.8vh;
}
li:before{
  content: "-";
  left: 0;
  position: absolute;
}
a {
  color: rgba(22,22,22,0.7);
  text-decoration: none; /* no underline */
}
a:hover {
    color: rgba(200,2,2, 0.95);
  }
h2 {
  font-size: 5vh;
  margin-bottom: 1.4vh;
  line-height: 2vh;
}
h2 a {
  line-height: 30px;
  font-size: 5vh;
  margin-bottom: 1.4vh;
  display: inline-block;
  padding-bottom: 8px;
  color: rgba(200,2,2, 0.95);
  border-bottom: solid 2px rgba(22,22,22,0.55);
}
h2 a:hover {
  color: rgba(22,22,22,0.7);
}
.content h2 {
  margin-bottom: 2.8vh;
}
h3{
  margin: 1.4vh 0;
  color: rgba(22,22,22,0.85);
}
.bold {
  font-weight: bold;
}
div.footer {
  color: rgba(22,22,22,0.7);
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 50%;
  font-size: 4vh;
  text-shadow: 1px 1px rgba(22,22,22,0.15);
  text-align: center;
}
